@import '../../../styles/variables.less';

.container {
  padding: @spacing-md;
  background: @defaultBackgroundColor;
}

.header {
  display: flex;
  margin-bottom: @spacing-md;

  .form {
    display: flex;
    gap: @spacing-sm;
    flex-wrap: wrap;
  }

  .actions {
    margin-left: auto;
    display: flex;
    gap: @spacing-sm;
  }
}

.table {
  background: @white;
  padding: @spacing-sm;
  border-radius: @border-radius-base;
  box-shadow: @shadow-sm;

  .verticalTable {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid @border-color-base;
      padding: 4px;
      text-align: right;
    }

    th:first-child,
    td:first-child {
      text-align: left;
    }
  }

  }

.section {
  margin-bottom: @spacing-md;
}